@model UniversityManagementSystemWebApp.Models.UserAccount
@{
    ViewBag.Title = "Resister";
    Layout = "~/Views/Login/Login_Layout.cshtml";
}

@{
    if (TempData["message"] != null)
    {
        <script type="text/javascript">
            alert(@Html.Raw(Json.Encode(TempData["message"])));
        </script>
    }
}




<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-md-center h-100">
            <div class="card-wrapper">

                <div class="card fat">
                    <div class="card-body">




                        @using (Html.BeginForm("Resister","Login"))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>UserAccount</h4>
                                <hr/>
                                @Html.ValidationSummary(true)

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.FirstName)
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.LastName)
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.UserName)
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Password)
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmPassWord, new {@class = "control-label col-md-2"})
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.ConfirmPassWord)
                                        @Html.ValidationMessageFor(model => model.ConfirmPassWord)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Register" class="btn btn-default" onclick="javascript:return ShowMessage(); "/>
                                    </div>
                                </div>
                            </div>

                        
                             {
                                 <script type="text/javascript">
                                     $(function () {
                                         alert("Succesfully Resistered. " );
                                     });
                                 </script>
                             }
                            
                            
                          


                            <div>
                                @Html.ActionLink("Back to Log in Page", "Login")
                            </div>
                        }
                    
                        

                    </div>
                </div>
                <div class="footer">
                    <p>Copyright<a> &copy; UMSWA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>